
@media (min-width: 500px)
	{
		body{background-color: #e5e4e2; 
            padding: 10%;
            padding-top: 0%
        }
		ul {
	    background-color: #8FBC8F;
    	height:100%;
    	margin:30px;
    	padding:20px}
        ol{
        background-color: #FFA07A;
        height:100%;
        border-radius: 10px;
        }
	}
@media (max-width: 499px)
	{
		body {
		background-color: #D8BFD8;}
        ul {
        background-color: #89b077;
        height:100%;}
	}

table {
        color: black;
        margin-right: 10%;
        margin-left: 10%;
        border: 2px solid black;
        border-collapse: collapse;
    }
    tr,td {
        text-align: center;
        border: 1px solid black;
        padding: 5px;
        width: 40%;
        text-align: center;
    }
    
    th {
        background-color: #8c0073;
        border: 1px solid black;
        padding: 5px;
        width: 40%;
        text-align: center;
    }

h1 {
	color: blue;
	text-align: center;
}

p {
	color: #936c77;
}

.section_01 {
    color: blue;
    font-size: 10px;
    font-family: "courier new";
}

.section_02{
    color: red;
    font-size: 14px;
    font-family: "time new roman";
}


